<?xml version="1.0"?>
<config>
    <modules>
        <CloudPayments_Widget>
            <version>1.0.2</version>
        </CloudPayments_Widget>
    </modules>
    <global>
        <models>
            <cloudpayments>
                <class>CloudPayments_Widget_Model</class>
            </cloudpayments>
            <sales>
                <rewrite>
                    <order_payment_transaction>CloudPayments_Widget_Model_Order_Payment_Transaction</order_payment_transaction>
                </rewrite>
            </sales>
        </models>

        <helpers>
            <cloudpayments>
                <class>CloudPayments_Widget_Helper</class>
            </cloudpayments>
        </helpers>

        <blocks>
            <cloudpayments>
                <class>CloudPayments_Widget_Block</class>
            </cloudpayments>
        </blocks>
        <sales>
            <order>
                <statuses>
                    <authorized_cloudpayments translate="label">
                        <label>Authorized CloudPayments</label>
                    </authorized_cloudpayments>
                </statuses>
                <states>
                    <new>
                        <statuses>
                            <authorized_cloudpayments/>
                        </statuses>
                        <visible_on_front/>
                    </new>
                </states>
            </order>
        </sales>

        <resources>
            <cloudpayments_setup>
                <setup>
                    <module>CloudPayments_Widget</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cloudpayments_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <CloudPayments_Widget>
                    <files>
                        <default>CloudPayments_Widget.csv</default>
                    </files>
                </CloudPayments_Widget>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <CloudPayments_Widget>
                    <files>
                        <default>CloudPayments_Widget.csv</default>
                    </files>
                </CloudPayments_Widget>
            </modules>
        </translate>
        <routers>
            <cloudpayments>
                <use>standard</use>
                <args>
                    <module>CloudPayments_Widget</module>
                    <frontName>cloudpayments</frontName>
                </args>
            </cloudpayments>
        </routers>
        <layout>
            <updates>
                <cloudpayments>
                    <file>cloudpayments.xml</file>
                </cloudpayments>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <cloudpayments>
                <active>0</active>
                <model>cloudpayments/method_widget</model>
                <payment_action>authorize</payment_action>
                <title>CloudPayments</title>
                <order_desc><![CDATA[Оплата заказа]]></order_desc>
                <secret_key backend_model="adminhtml/system_config_backend_encrypted"/>
                <step>0</step>
                <send_receipt>0</send_receipt>
                <taxation_system>0</taxation_system>
                <vat_all>1</vat_all>
                <vat>vat_none</vat>
                <vat_delivery>vat_none</vat_delivery>
                <default_shipping_name>1</default_shipping_name>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
            </cloudpayments>
        </payment>
    </default>
</config>
